/* #Font
================================================== */
@font-face {
  font-family: "elgoc";
  font-weight: 200;
  src: url("../font/elgoc-light-webfont.woff");
}

@font-face {
  font-family: "elgoc";
  font-weight: 400;
  src: url("../font/elgoc-regular-webfont.woff");
}

@font-face {
  font-family: "elgoc";
  font-weight: 500;
  src: url("../font/elgoc-medium-webfont.woff");
}

@font-face {
  font-family: "elgoc";
  font-weight: 700;
  src: url("../font/elgoc-bold-webfont.woff");
}

/* #Global
================================================== */
body {
  font-family: 'Heebo', sans-serif;
  background-color: #0D0D0D;
  color: white;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 16.5vw;
  }
}

.font-primary {
  font-family: 'Heebo', sans-serif;
}

.font-secondary {
  font-family: "elgoc", sans-serif;
}

.text-orange {
  color: #F14E3A;
}

.text-gray {
  color: #818181;
}

.text-green {
  color: #7AC231;
}

/* #Buttons
================================================== */

/* #Inputs
================================================== */
.input-primary {
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  display: block;
  padding-bottom: .7vw;
  line-height: 1;
  font-family: inherit;
}

.input-primary::placeholder {
  color: white;
}

@media (max-width: 1023.98px) {
  .input-primary {
    padding-bottom: 2vw;
  }
}

/* #Selects
================================================== */
.select-primary {
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  display: block;
  padding-bottom: .7vw;
  padding-top: .4vw;
  line-height: 1;
  appearance: none;
  background-image: url('../img/icons/chevron-down-white.svg');
  background-repeat: no-repeat;
  background-size: .75vw auto;
  background-position: 0 50%;
  font-family: inherit;
}

.select-primary::placeholder {
  color: white;
}

@media (max-width: 1023.98px) {
  .select-primary {
    padding-bottom: 2vw;
    background-size: 3.33vw auto;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.9vw 0;
  transition: background-color .7s ease;
  background-color: transparent;
  z-index: 10000;
}

.header.header-scroll {
  background-color: #0D0D0D;
}

.header .container {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-hamburger {
  margin-left: 2.8vw;
}

.header-hamburger img {
  width: 2.6vw;
}

.header-logo img {
  width: 14.4vw;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-contact {
  margin-left: 2.34vw;
}

.header-language ul {
  display: flex;
  align-items: center;
}

.header-language ul li:not(:last-child) {
  margin-left: .5vw;
}

.header-language ul li a {
  color: #747474;
}

.header-language ul li a.active {
  color: white;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 5.33vw 0;
    background-color: #0D0D0D;
  }
  
  .header .container {
    width: 88%;
  }
  
  .header-hamburger {
    margin-left: 4vw;
  }
  
  .header-hamburger img {
    width: 7.46vw;
  }
  
  .header-logo img {
    width: 40vw;
  }
  
  .header-left {
    display: none;
  }
}

/* #Footer
================================================== */
.footer .container {
  display: flex;
}

.footer-contact,
.footer-main {
  flex: 0 0 50%;
}

/* Contact */
.footer-contact {
  background-color: #F14E3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vw 0 6.77vw 0;
}

.footer-contact h2 {
  text-align: center;
  line-height: 1;
  margin-bottom: 2vw;
}

.footer-contact form {
  margin-top: 3.125vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-contact input {
  width: 27.4vw;
  margin-bottom: 1.3vw;
}

.footer-contact a {
  margin-top: 5.2vw;
}

.footer-contact a img {
  width: 7.96vw;
}

/* Main */
.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.footer-info {
  margin-bottom: 6vw;
}

.footer-info h2 {
  line-height: 1;
  margin-bottom: 2.34vw;
}

.footer-info .top {
  padding-bottom: 1.5vw;
  margin-bottom: 1.5vw;
  border-bottom: 1px solid #70707050;
}

.footer-links h2 {
  margin-bottom: 1.5vw;
}

.footer-links ul {
  display: flex;
  align-items: center;
}

.footer-links li:not(:last-child) {
  margin-left: 3.125vw;
}

.footer-logo {
  margin-top: 5.2vw;
}

.footer-logo img {
  width: 14.5vw;
}

@media (max-width: 1023.98px) {
  .footer .container {
    display: block;
  }
  
  /* Contact */
  .footer-contact {
    padding: 14.66vw 0;
  }
  
  .footer-contact h2 {
    margin-bottom: 4vw;
  }
  
  .footer-contact form {
    margin-top: 8.66vw;
  }
  
  .footer-contact input {
    width: 86.66vw;
    margin-bottom: 6vw;
  }
  
  .footer-contact a {
    margin-top: 5.2vw;
  }
  
  .footer-contact a img {
    width: 20.4vw;
  }
  
  /* Main */
  .footer-main {
    padding: 14.66vw 10%;
    background-color: #0D0D0D;
  }
  
  .footer-info {
    margin-bottom: 10vw;
  }
  
  .footer-info h2 {
    line-height: 1;
    margin-bottom: 3.46vw;
  }
  
  .footer-info .top {
    padding-bottom: 4vw;
    margin-bottom: 4vw;
  }
  
  .footer-links h2 {
    margin-bottom: 8vw;
  }
  
  .footer-links ul {
    display: block;
  }
  
  .footer-links li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 4vw;
  }
  
  .footer-logo {
    margin-top: 14.66vw;
  }
  
  .footer-logo img {
    width: 70.66vw;
  }
}

/* #Subscribe
================================================== */
.subscribe {
  padding: 13vw 0;
  text-align: center;
}

.subscribe form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.subscribe input {
  width: 12.2vw;
}

.subscribe input:not(:last-of-type) {
  margin-left: 5.2vw;
}

.subscribe a {
  margin-right: 2.6vw;
}

.subscribe a img {
  width: 4.4vw;
}

@media (max-width: 1023.98px) {
  .subscribe {
    padding: 14.66vw 0;
  }
  
  .subscribe form {
    flex-direction: column;
    margin-top: 8.66vw;
  }
  
  .subscribe p {
    padding: 0 20%;
  }
  
  .subscribe input {
    width: 86.6vw;
  }
  
  .subscribe input:not(:last-of-type) {
    margin-left: 0;
    margin-bottom: 6vw;
  }
  
  .subscribe a {
    margin-top: 10.66vw;
    margin-right: 0;
  }
  
  .subscribe a img {
    width: 14.66vw;
  }
}

/* #Magazine Page
================================================== */
@media (min-width: 1024px) {
  .magazine-page {
    background-image: url('../img/global/bg-primary.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
}

/* #Magazine
================================================== */
.magazine {
  padding-top: 6.77vw;
}

.magazine .container {
  width: 76%;
}

.magazine .heading {
  margin: 4.16vw 0 3.125vw 0;
  text-align: center;
}

.magazine .heading h2 {
  margin-bottom: 1vw;
}

.magazine .heading ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.magazine .heading li:not(:last-of-type) {
  margin-left: 3.9vw;
}

.magazine .heading a.active {
  color: #DF4735;
}

.magazine .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.8vw;
}

.posts .post-card {
  flex: 0 0 47%;
}

.magazine .posts .post-card {
  margin-bottom: 2.34vw;
}

.magazine .posts .post-card:nth-child(odd) {
  transform: translateY(4.16vw);
}

.post-card {
  position: relative;
}

.post-card .img,
.post-card .img img,
.post-card .img video {
  width: 100%;
  height: 35vw;
  object-fit: cover;
  object-position: center;
}

.post-card.featured-post-card .img,
.post-card.featured-post-card .img img,
.post-card.featured-post-card .img video {
  height: 31.25vw;
}

.post-card .img {
  position: relative;
}

.post-card .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(to top, #0d0d0dc4, transparent);
}

.post-card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.post-card .icon img {
  width: 5.2vw;
}

.post-card .text {
  position: absolute;
  bottom: 1vw;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 4.68vw;
  line-height: 1.25;
}

.post-card.featured-post-card .text {
  padding: 0 15%;
}

.post-card p {
  margin-bottom: .25vw;
}

@media (max-width: 1023.98px) {
  .magazine {
    padding-top: 0;
  }
  
  .magazine .container {
    width: 100%;
  }
  
  .magazine .heading {
    margin: 9.33vw 0 10vw 0;
  }
  
  .magazine .heading h2 {
    margin-bottom: 4vw;
  }
  
  .magazine .heading li:not(:last-of-type) {
    margin-left: 5vw;
  }
  
  .magazine .posts {
    display: block;
    margin-bottom: 0;
    padding: 0 5.33vw;
  }
  
  .posts .post-card {
    margin-bottom: 5.33vw;
  }
  
  .magazine .posts .post-card:nth-child(odd) {
    transform: none;
  }
  
  .post-card .img,
  .post-card .img img,
  .post-card .img video {
    height: 86.66vw;
  }
  
  .post-card.featured-post-card .img,
  .post-card.featured-post-card .img img,
  .post-card.featured-post-card .img video {
    height: 100vw;
  }
  
  .post-card .icon img {
    width: 12vw;
  }
  
  .post-card .text {
    bottom: 2.66vw;
    padding: 0 8vw;
    line-height: 1.25;
  }
  
  .post-card.featured-post-card .text {
    padding: 0 5%;
  }
  
  .post-card p {
    margin-bottom: 1vw;
  }
}

/* #Related Posts
================================================== */
.related-posts {
  padding-top: 2.6vw;
}

.related-posts .container {
  width: 77%;
}

.related-posts h3 {
  text-align: center;
  margin-bottom: 3.65vw;
}

.related-posts .posts {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023.98px) {
  .related-posts {
    padding-top: 0;
  }
  
  .related-posts .container {
    width: 100%;
  }
  
  .related-posts h3 {
    margin-bottom: 8vw;
  }

  .related-posts .posts {
    display: block;
  }
}

/* #Post
================================================== */
.post {
  padding: 9.7vw 0;
}

.post .container {
  width: 88%;
  display: flex;
}

.post-heading {
  flex: 0 0 33.8vw;
  margin-left: 7.34vw;
  padding-left: 4vw;
  border-left: 1px solid rgba(255, 255, 255, 0.13);
}

.post-heading h1 {
  line-height: 1.5;
}

.post-heading a {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}

.post-heading a img {
  height: 1vw;
  margin-left: .5vw;
}

.post-video {
  position: relative;
}

.post-video video {
  width: 100%;
}

.post-video a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-video a img {
  width: 5.2vw;
}

.post-video,
.post-img {
  margin-bottom: 3.125vw;
}

.post-img img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .post {
    padding: 20vw 0 14.66vw 0;
  }
  
  .post .container {
    width: 100%;
    display: block;
  }
  
  .post-heading {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    padding: 0 5.33vw;
    margin-bottom: 9.33vw;
  }
  
  .post-heading a {
    margin-top: 2.66vw;
  }
  
  .post-heading a img {
    height: 4vw;
    margin-left: 2vw;
  }
  
  .post-video a img {
    width: 12vw;
  }
  
  .post-video,
  .post-img {
    margin-bottom: 8vw;
  }

  .post-text {
    padding: 0 5.33vw;
  }
}

/* #Investment
================================================== */
@media (min-width: 1024px) {
  .investment-page {
    background-image: url('../img/global/bg-primary.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
}

.investment {
  padding: 7.8vw 0 9.11vw 0;
}

.investment .container {
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.investment .container > .right {
  flex: 0 0 45.31vw;
}

.investment .container > .left {
  flex: 0 0 40.15vw;
  display: flex;
  flex-direction: column;
}

/* Right */
.investment-reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.investment-report {
  flex: 0 0 22vw;
  background-color: #202020;
  margin-bottom: 1vw;
  padding: .75vw .75vw 0 .75vw;
}

.investment-report .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.investment-report .heading a {
  text-decoration: underline;
}

.investment-report .group {
  min-height: 4.68vw;
  padding-top: .75vw;
}

.investment-report .group:not(:last-child) {
  border-bottom: 1px solid #e0e0e017;
} 

.investment-report .group .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.investment-report .group .bottom a {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.investment-report .group .bottom a img {
  height: .67vw;
  margin-right: .25vw;
}

.investment-form form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2vw;
}

.investment-form input {
  width: 10.1vw;
}

.investment-form input:not(:last-of-type) {
  margin-left: 3.64vw;
}

.investment-form a {
  margin-right: auto;
}

.investment-form a img {
  width: 4.4vw;
}

.investment-form p {
  margin-bottom: -3.25vw;
}

/* Left */
.investment-graph {
  background-color: #202020;
  flex-grow: 1;
}

.investment-graph img {
  width: 100%;
}

.investment-graph ul {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  padding-top: 1.5vw;
  padding-right: 1.1vw;
}

.investment-graph ul li:not(:last-child) {
  margin-left: .25vw;
}

.investment-graph ul a {
  width: 2.8vw;
  height: 1.5vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #707070;
  border: 1px solid transparent;
  border-radius: 500px;
}

.investment-graph ul a.active {
  border: 1px solid #707070;
}

.investment-stats {
  background-color: #202020;
  margin-bottom: 1.5vw;
  display: flex;
  align-items: center;
  direction: ltr;
  padding: 2vw 1.5vw; 
}

.investment-stats ul {
  display: flex;
  margin-left: 4.125vw;
  justify-content: space-between;
}

.investment-stats ul li:not(:last-child) {
  margin-right: 2vw;
} 

@media (max-width: 1023.98px) {
  .investment {
    padding: 4vw 0 14.66vw 0;
  }
  
  .investment .container {
    width: 88%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
  }
  
  .investment .container > .right {
    flex: 0;
  }
  
  .investment .container > .left {
    flex: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Right */
  .investment-reports {
    display: block;
  }
  
  .investment-report {
    flex: 0;
    margin-bottom: 5.33vw;
    padding: 3.33vw;
  }
  
  .investment-report .group {
    min-height: 0;
    padding-top: 2.66vw;
    padding-bottom: 2.66vw;
  }
  
  .investment-report .group .bottom a {
    margin-right: 0;
    flex: 0 0 13vw;
    justify-content: flex-end;
  }
  
  .investment-report .group .bottom a img {
    height: 2.5vw;
    margin-right: 1vw;
  }

  .investment-form {
    margin-top: 8.66vw;
  }
  
  .investment-form form {
    flex-direction: column;
    align-items: center;
    margin-top: 8.66vw;
  }
  
  .investment-form p {
    padding: 0 14%;
    text-align: center;
  }
  
  .investment-form input {
    width: 86.6vw;
  }
  
  .investment-form input:not(:last-of-type) {
    margin-left: 0;
    margin-bottom: 6vw;
  }
  
  .investment-form a {
    margin-top: 10.66vw;
    margin-right: 0;
  }
  
  .investment-form a img {
    width: 14.66vw;
  }
  
  /* Left */
  .investment-graph {
    margin-bottom: 5.33vw;
  }
  
  .investment-graph ul {
    display: flex;
    align-items: center;
    margin-bottom: 2.66vw;
    padding-top: 3.6vw;
    padding-right: 3.6vw;
  }
  
  .investment-graph ul li:not(:last-child) {
    margin-left: .5vw;
  }
  
  .investment-graph ul a {
    width: 9.86vw;
    height: 5.33vw;
  }
  
  .investment-graph ul a.active {
    border: 1px solid #707070;
  }
  
  .investment-stats {
    margin-bottom: 5.33vw;
    display: block;
    padding: 4vw 3.33vw; 
  }
  
  .investment-stats ul {
    margin-top: 4vw;
    margin-left: 0;
    justify-content: space-between;
  }
  
  .investment-stats ul li:not(:last-child) {
    margin-right: 2vw;
  } 
}

/* #Reports
================================================== */
@media (min-width: 1024px) {
  .reports-page {
    background-image: url('../img/global/bg-primary.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
}

.reports {
  padding: 10.4vw 0 8.33vw 0;
}

.reports .container {
  width: 46%;
}

.reports .heading {
  text-align: center;
  margin-bottom: 2vw;
}

.reports h1 {
  margin-bottom: 1vw;
}

.reports-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reports-links li:not(:last-child) {
  margin-left: 3.9vw;
}

.reports-links a.active {
  color: #DF4735;
}

.reports .tab-navigation {
  margin-bottom: 2.3vw;
}

.reports .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reports .tab-btn {
  padding: 0 1.3vw;
  height: 2vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  border: 1px solid transparent;
}

.reports .tab-btn:not(:last-child) {
  margin-left: .5vw;
}

.reports .tab-btn.active {
  color: #F14E3A;
  border-color: #F14E3A;
}

.report {
  padding: 1vw 1.8vw; 
  background-color: #202020;
  display: flex;
  align-items: center;
}

.report:not(:last-child) {
  margin-bottom: 1vw;
} 

.report .top {
  margin-left: 1.8vw;
  padding-left: 1.8vw;
  border-left: 1px solid #e0e0e01f;
}

.report .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.report .bottom a {
  display: flex;
  align-items: center;
  padding-right: 1.8vw;
  margin-right: 1.8vw;
  border-right: 1px solid #e0e0e01f;
}

.report .bottom a img {
  height: .67vw;
  margin-right: .25vw;
}

@media (max-width: 1023.98px) {
  .reports {
    padding: 18vw 0 12vw 0;
  }
  
  .reports .container {
    width: 100%;
  }
  
  .reports .heading {
    margin-bottom: 6vw;
  }
  
  .reports h1 {
    margin-bottom: 4.5vw;
  }
  
  .reports-links li:not(:last-child) {
    margin-left: 4vw;
  }
  
  .reports .tab-navigation {
    margin-bottom: 8vw;
  }
  
  .reports .tab-btn {
    padding: 0 2vw;
    height: 6.66vw;
  }
  
  .reports .tab-btn:not(:last-child) {
    margin-left: 2vw;
  }

  .reports .body {
    padding: 0 5.33vw;
  }

  .report {
    padding: 2.66vw 3.33vw;
    display: block;
  }

  .report:not(:last-child) {
    margin-bottom: 2.66vw;
  } 

  .report .top {
    border: none;
  }

  .report .bottom {
    align-items: flex-start;
  }
  
  .report .bottom a {
    margin-right: 0;
    flex: 0 0 13vw;
    justify-content: flex-end;
    border: none;
  }
  
  .report .bottom a img {
    height: 2.5vw;
    margin-right: 1vw;
  }
}

/* #Projects
================================================== */
.projects-page {
  background-image: url('../img/global/bg-primary.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.projects {
  padding: 9.9vw 0 3.125vw 0;
}

.projects .container {
  width: 88%;
}

/* Heading */
.projects-heading {
  text-align: center;
}

.projects-heading h1 {
  line-height: 1;
  margin-bottom: .75vw;
}

/* Filters */
.projects-filters {
  margin: 1.5vw 0 2.86vw 0;
}

.projects-filters form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-filters input,
.projects-filters select {
  flex: 0 0 11.6vw;
}

.projects-filters a {
  flex: 0 0 4.4vw;
}

.projects-filters a img {
  width: 4.4vw;
}

/* Body */
.projects-body ul {
  display: flex;
  flex-wrap: wrap;
  margin: -.46vw -.36vw;
}

.projects-body li {
  flex: 0 0 20%;
}

.projects-body li:nth-child(1),
.projects-body li:nth-child(14) {
  flex: 0 0 60%;
}

.projects-body li > div {
  padding: .46vw .36vw;
  position: relative;
}

.projects-body .project-img {
  position: relative;
}

.projects-body .project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.projects-body .project-img img {
  width: 100%;
  height: 24vw;
  object-fit: cover;
  object-position: center;
}

.projects-body .project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.projects-body .project-logo img {
  width: 13.5vw;
  height: 5.2vw;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

.projects-body .project-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.09vw;
  background-color: #F14E3A;
  color: white;
  padding: 0 .88vw;
  z-index: 1;
}

@media (max-width: 1023.98px) {
  .projects-page {
    background-size: 250% auto;
    background-position: top center;
  }

  .projects-page .header {
    background-color: transparent;
  }

  .projects-page .header.header-scroll {
    background-color: #0D0D0D;
  }

  .projects {
    padding: 6.4vw 0 14.66vw 0;
  }
  
  .projects .container {
    width: 100%;
    overflow: hidden;
  }
  
  /* Heading */
  .projects-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .projects-heading h1 {
    width: 65%;
    margin-bottom: 2.66vw;
  }
  
  .projects-heading p {
    width: 60%;
  }
  
  /* Filters */
  .projects-filters {
    margin: 11.33vw 0 12vw 0;
  }
  
  .projects-filters form {
    width: 86%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .projects-filters input {
    flex: 0 0 100%;
    margin-bottom: 7.33vw;
  }
  
  .projects-filters select {
    flex: 0 0 45%;
    margin-bottom: 7.33vw;
  }
  
  .projects-filters a {
    flex: 0 0 14.66vw;
    margin: 0 auto;
  }
  
  .projects-filters a img {
    width: 14.66vw;
  }
  
  /* Body */
  .projects-body ul {
    margin: -.9vw;
  }
  
  .projects-body li {
    flex: 0 0 50%;
    padding: .66vw;
  }
  
  .projects-body li:nth-child(1),
  .projects-body li:nth-child(14) {
    flex: 0 0 100%;
  }
  
  .projects-body .project-img img {
    height: 65.2vw;
  }

  .projects-body li:nth-child(1) .project-img img,
  .projects-body li:nth-child(14) .project-img img {
    height: 46.6vw;
  }
  
  .projects-body .project-logo img {
    width: 85%;
    height: 16.66vw;
  }
  
  .projects-body .project-label {
    bottom: 3.2vw;
    padding: 0 2vw;
  }
}